<div class="container">
  <ul class="responsive-table" >
    <li class="table-header">
      <div class="col col-1">Id</div>
      <div class="col col-4">Name</div>
      <div class="col col-4">Description</div>
      <div class="col col-4">IOAddress</div>
      <div class="col col-4">Value</div>
      <div class="col col-4">Low limit</div>
      <div class="col col-4">High Limit</div>
      <div class="col col-4">Is scan on</div>
      <div class="col col-4">Scan time</div>
      <div class="col col-4">Alarms</div>
      <div class="col col-1">Edit</div>
      <div class="col col-1">Delete</div>
    </li>
    <li *ngFor="let tag of allTags" class="table-row">
      <div class="col col-1">{{tag.id}}</div>
      <div class="col col-4">{{tag.name}}</div>
      <div class="col col-4">{{tag.description}}</div>
      <div class="col col-4">{{tag.iOAddress}}</div>
      <div class="col col-4">{{tag.value}}</div>
      <div class="col col-4">{{tag.lowLimit}}</div>
      <div class="col col-4">{{tag.highLimit}}</div>
      <div class="col col-4">{{tag.isScanOn}}</div>
      <div class="col col-4">{{tag.scanTime}}</div>
      <div class="col col-4" *ngIf="tag.tagType == 'DI' || tag.tagType == 'AI'">Alarms</div>
      <div class="col col-4" *ngIf="tag.tagType == 'DO' || tag.tagType == 'AO'"></div>
      <div class="col col-1"><button>Edit</button></div>
      <div class="col col-1"><button>Delete</button></div>
    </li>
  </ul>
</div>

