@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

*{
  font-family: Raleway, sans-serif;
}

#header{
  height: 100px;
  width: fit-content;
  margin-top: 45px;
  display: flex;
  align-items: center;
}

#header h2{
  text-align: center;
}

.input{
  margin-right: 10px;
  background-color: #D3D3D3;
  color: black;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

#add{
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

#content{
  color: black;
}
