<div id = "navbar">
    <span id="navigation">
      <ul>
        <li><a id = "loginButton" routerLinkActive="active" [routerLink]="['/login']" *ngIf="!isAuthenticated()">Log in</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/registration']" *ngIf="!isAuthenticated()">Register</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/all']" *ngIf="isAuthenticated()">Database Manager</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/all']" *ngIf="isAuthenticated()">Trending</a></li>
        <li><a routerLinkActive="active" [routerLink]="['/all']" *ngIf="isAuthenticated()">Reports</a></li>
        <li><a id = "logoutButton" [routerLink]="" (click)="signOut()" *ngIf="isAuthenticated()">Log out</a></li>
      </ul>
    </span>
</div>
  